---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">

  <div>
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Experience</div>
    </div>

    <div class="time-line-container mb-10">
      <TimeLineElement
        title="Software Engineer Intern, Checkmarx"
        subtitle="July 2023 - September 2023"
        desc="Worked on a production codebase, giving support to the Checkmarx SAST product."
      />
    </div>
    <div class="time-line-container mb-10">
      <TimeLineElement
        title="Mentor & Responsible of Technology, CoderDojo Braga."
        subtitle="Oct 2022 - Present"
      />
      <TimeLineElement
        title="Mentor & Volunteer, CoderDojo Braga"
        subtitle="Oct 2021 - Oct 2023"
        desc="Mentored young individuals aged 7-17 in programming & responsible for the maintenance and development of the CoderDojo Braga platform"
      />
    </div>
    <div class="time-line-container mb-10">
      <TimeLineElement
        title="Co-Director of CAOS Department (development team), CeSIUM"
        subtitle="Oct 2023 - Present"
      />
      <TimeLineElement
        title="Co-Director of Pedagogical Department, CeSIUM"
        subtitle="Oct 2022 - Oct 2023"
        desc="Responsible for the maintenance and development of the CeSIUM platforms and other projects."
      />
    </div>
  </div>

  <div>
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Education</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement
        title="University of Minho"
        subtitle="From Oct 2021 - Present"
        desc="Bachelor student in Software Engineering"
      />
    </div>
  </div>

  <div>
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="list-disc md:columns-5 columns-2 mx-6">
      <li>Portuguese</li>
      <li>English</li>
      <li>Python</li>
      <li>Haskell</li>
      <li>C</li>
      <li>Elixir</li>
      <li>Go</li>
      <li>Solidity</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Phoenix</li>
      <li>Next.js</li>
    </ul>
  </div>
</BaseLayout>
