---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Content as Introduction } from "../components/Introduction.md";
---

<BaseLayout>
    <div class="mt-5 max-w-2xl">
        <div class="text-xl py-1">Hey there 👋</div>
        <div class="text-5xl font-bold">I'm Daniel Pereira</div>
        <div class="text-3xl py-3 font-bold">MSc Student @ <a class="underline" href="https://www.uminho.pt/">UMinho</a></div>
        <div class="py-2">
            <p>
                I tinker with technology for fun. My main interests revolve around <span class="italic">distributed systems</span> and <span class="italic">storage systems</span>. If you spot me, I’m probably lost in Neovim - either getting stuff done or breaking code. I’m also pretty obsessed with the <span class="italic">Elixir</span> programming language.
            </p>
            <p class="mt-4">
        At university, I’ve been part of <a class="text-orange-500" href="https://cesium.pt/">CeSIUM</a> (Software Engineering Students Association of UMinho), where I contributed to open-source projects and helped organize events for the student community. I'm also part of the <a class="text-orange-500" href="https://dsr-haslab.github.io/">Distributed Storage Group</a> at HASLab, researching on topics like <span class="italic">LSM key-value stores</span>, <span class="italic">disaggregated storage</span> and <span class="italic">geo-replication</span>.
            </p>
            <p class="mt-4">
                When I’m not wrestling with code, you’ll probably find me running, practicing Jiu-Jitsu, gaming, or just hanging out with friends.
            </p>
        </div>
        <div class="mt-8">
            <a
                class="btn"
                href="https://www.linkedin.com/in/daniel-pereira45/"
                target="_blank"
            >
                Let's connect!</a
            >
        </div>
    </div>
</BaseLayout>
