---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects Header</div>
  </div>

    <HorizontalCard
      title="Atomic"
      img="/atomic-logo.png"
      desc="âš›ï¸ A web-based application to help the academic community "
      url="https://github.com/cesium/atomic"
    />
    <div class="divider my-0"/>
    <HorizontalCard
      title="Bokken"
      img="/dojo.png"
      desc="âš”ï¸ Backend platform for managing session registrations and recording ninjas' progress "
      url="https://github.com/coderdojobraga/bokken"
    />
    <div class="divider my-0"/>
    <HorizontalCard
      title="System-Monitor"
      img="/minho.png"
      desc="This project was developed during the second semester of the 2nd year of the Software Engineering degree @ University of Minho. It consisted of developing a system monitor, similar to the htop command, using the C programming language and specially only system calls."
      url="https://github.com/danielsp45/System-Monitor-SO"
    />
    <div class="divider my-0"/>
    <HorizontalCard
      title="Gongo"
      img="/dojo.png"
      desc="ðŸŽ‰ A bot for helping admins promote members in the CoderDojo Braga Discord server "
      url="https://github.com/coderdojobraga/gongo"
    />
    <div class="divider my-0"/>
    <HorizontalCard
      title="Learning Chain"
      img="/logo.svg"
      desc="This project was developed at the bugsbyte hackathon. It's a platform that allows people to make and buy online courses with crypto payments and the certificates come as NFT's"
      url="https://github.com/HexaTable/LearningChain"
    />
    <div class="divider my-0"/>
    <HorizontalCard
      title="Uber.c"
      img="/minho.png"
      desc="This project was developed for the LI3 (Software Labs III) class in the 1st semester of the 2nd year of the Computer Science and Engineering course at University of Minho. "
      url="https://github.com/danielsp45/uber.c"
    />
    <div class="divider my-0"/>
    <HorizontalCard
      title="Stack Machine"
      img="/minho.png"
      desc="This project was developed for the LI2 (Software Labs II) class in the 2nd semester of the 1st year of the Computer Science and Engineering course at University of Minho. "
      url="https://github.com/danielsp45/Stack-Machine"
    />
    <div class="divider my-0"/>
    <HorizontalCard
      title="Spidey Block"
      img="/minho.png"
      desc="This project was developed for the LI1 (Software Labs I) class in the 1st semester of the 1st year of the Computer Science and Engineering course at University of Minho. "
      url="https://github.com/danielsp45/SpideyBlock"
    />
    <div class="divider my-0"/>
</BaseLayout>
